@import "/home/bs/.config/waybar/catppuccin.css";

.bar,
.main {
	background-color: rgba(0, 0, 0, 0);
	font-family: "ShureTechMono Nerd Font Propo";
}

.top,
.mid,
.btm {
	background-color: @crust;
	color: @text;

	border-style: solid;
	border-width: 0px;
	border-radius: 12px;

	padding: 5px;
}

.top {
	margin-top: 12px;
}
.btm {
	margin-bottom: 12px;
}

.top > *,
.mid > *,
.btm > * {
}
